{% extends 'home/base.html' %}
{% load static %}

{% block content1 %}
    <!-- <div class="card" style="float: left;margin: 10px;">
        <img src="{% static 'images/sherwani.png'%}" alt="Hangup" style="width:100%">
          <h1>Sherwani</h1>
          <p class="price">$19.99</p>
          <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
          <form action="/sherwani/">
            <p><button class="button" style="vertical-align:middle"><span>See More</span></button></p>
          </form>
    </div> -->

    <!-- 10 files -->
    <!--
      {	
			'name':'sherwani',
			'image':'sherwani',
			'price':'Rs.100',
			'description':'some text',
			'formaction':'/sherwani'
		},
     -->
    {% for catagory in categories %}
        <div class="card" style="float: left;display: flex;">
              <img src="{% static catagory.image %}" alt="{{ catagory.name }}" style="width:100%">
              <h1>{{ catagory.name }}</h1>
              <p class="price">{{ catagory.price }}</p>
              <p>{{ catagory.description }}</p>
              <form action="{% url catagory.formaction %}">
                <p><button class="button" style="vertical-align:middle"><span>See More</span></button></p>
              </form>
        </div>
    {% endfor %}


    
{% endblock content1 %}