{% extends 'home/base.html' %}
{% load static %}

{% block content1 %}
<div class="card">
  <img src="{% static 'images/formals.png'%}" alt="Louis phillip" style="width:100%">
    <h1>Louis phillip</h1>
     <p class="price">$19.99</p>
     <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
        <form action="/payment/">
       <p><button class="button" style="vertical-align:middle"><span>Buy Now</span></button></p>
       </form>
            </div>
              <div class="card">
  <img src="{% static 'images/formals2.png'%}" alt="Roadster" style="width:100%">
    <h1>Roadster</h1>
     <p class="price">$19.99</p>
     <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
        <form action="/payment/">
       <p><button class="button" style="vertical-align:middle"><span>Buy Now</span></button></p>
       </form>
            </div>
             <div class="card">
  <img src="{% static 'images/formals3.png'%}" alt="English Navy" style="width:100%">
    <h1>English Navy</h1>
     <p class="price">$19.99</p>
     <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
        <form action="/formals/">
        <form action="/payment/">
       <p><button class="button" style="vertical-align:middle"><span>Buy Now</span></button></p>
       </form>
        </form>
            </div>
              <div class="card">
  <img src="{% static 'images/formals4.png'%}" alt="Oxemberg" style="width:100%">
    <h1>Oxemberg</h1>
     <p class="price">$19.99</p>
     <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
        <form action="/payment/">
       <p><button class="button" style="vertical-align:middle"><span>Buy Now</span></button></p>
       </form>
            </div>
              <div class="card">
  <img src="{% static 'images/formals5.png'%}" alt="Indus" style="width:100%">
    <h1>Indus</h1>
     <p class="price">$19.99</p>
     <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
        <form action="/payment/">
       <p><button class="button" style="vertical-align:middle"><span>Buy Now</span></button></p>
       </form>
            </div>
              <div class="card">
  <img src="{% static 'images/formals6.png'%}" alt="Anouk" style="width:100%">
    <h1>Anouk</h1>
     <p class="price">$19.99</p>
     <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
        <form action="/payment/">
       <p><button class="button" style="vertical-align:middle"><span>Buy Now</span></button></p>
       </form>
            </div>
     <div class="card">
  <img src="{% static 'images/formals7.png'%}" alt="Anouk" style="width:100%">
    <h1>Denison</h1>
     <p class="price">$19.99</p>
     <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
        <form action="/payment/">
       <p><button class="button" style="vertical-align:middle"><span>Buy Now</span></button></p>
       </form>
            </div>
       <div class="card">
  <img src="{% static 'images/formals8.png'%}" alt="Anouk" style="width:100%">
    <h1>Hancock</h1>
     <p class="price">$19.99</p>
     <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
        <form action="/payment/">
       <p><button class="button" style="vertical-align:middle"><span>Buy Now</span></button></p>
       </form>
            </div>
       <div class="card">
  <img src="{% static 'images/formals9.png'%}" alt="Anouk" style="width:100%">
    <h1>peter England</h1>
     <p class="price">$19.99</p>
     <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
       <form action="/payment/">
       <p><button class="button" style="vertical-align:middle"><span>Buy Now</span></button></p>
       </form>
            </div>
        </div>
    </div>
    
{% endblock content1 %}

