{% extends 'home/base.html' %}
{% load static %}

{% block content1 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css" />
</head>
<body >
  <div class="container mt-4" >
    <div>
          <div style="text-align: center;" >
              {% if messages %}
                {% for message in messages %}
                  <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                  </div>
                {% endfor %}
              {% endif %}
          </div>
        <div>
            <button class="btn btn-primary"><a href="{% url 'login' %}">Log In</a></button>
            <button class="btn btn-primary"><a href="{% url 'register' %}">Sign Up</a></button>
        </div>
        {% block content %}
        {% endblock content %}
      </div>
  </div>
</body>
</html>
    
{% endblock content1 %}

