{% extends 'home/base.html' %}
{% load static %}

{% block content1 %}
<div class="card">
    <img src="{% static 'clothimg/saree1.png'%}" alt="Louis phillip" style="width:100%">
      <h1>visudh</h1>
       <p class="price">$19.99</p>
       <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
          <form action="/payment/">
         <p><button class="button" style="vertical-align:middle"><span>Buy Now</span></button></p>
         </form>
              </div>
                <div class="card">
    <img src="{% static 'clothimg/saree2.png'%}" alt="Roadster" style="width:100%">
      <h1>Taavi</h1>
       <p class="price">$19.99</p>
       <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
          <form action="/payment/">
         <p><button class="button" style="vertical-align:middle"><span>Buy Now</span></button></p>
         </form>
              </div>
               <div class="card">
    <img src="{% static 'clothimg/saree3.png'%}" alt="English Navy" style="width:100%">
      <h1>sangira</h1>
       <p class="price">$19.99</p>
       <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
          <form action="/formals/">
          <form action="/payment/">
         <p><button class="button" style="vertical-align:middle"><span>Buy Now</span></button></p>
         </form>
          </form>
              </div>
                <div class="card">
    <img src="{% static 'clothimg/saree4.png'%}" alt="Oxemberg" style="width:100%">
      <h1>shakumbari</h1>
       <p class="price">$19.99</p>
       <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
          <form action="/payment/">
         <p><button class="button" style="vertical-align:middle"><span>Buy Now</span></button></p>
         </form>
              </div>
                <div class="card">
    <img src="{% static 'clothimg/saree5.png'%}" alt="Indus" style="width:100%">
      <h1>Nayo</h1>
       <p class="price">$19.99</p>
       <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
          <form action="/payment/">
         <p><button class="button" style="vertical-align:middle"><span>Buy Now</span></button></p>
         </form>
              </div>
                <div class="card">
    <img src="{% static 'clothimg/saree6.png'%}" alt="Anouk" style="width:100%">
      <h1>varanga</h1>
       <p class="price">$19.99</p>
       <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
          <form action="/payment/">
         <p><button class="button" style="vertical-align:middle"><span>Buy Now</span></button></p>
         </form>
              </div>
       <div class="card">
    <img src="{% static 'clothimg/saree7.png'%}" alt="Anouk" style="width:100%">
      <h1>juniper</h1>
       <p class="price">$19.99</p>
       <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
          <form action="/payment/">
         <p><button class="button" style="vertical-align:middle"><span>Buy Now</span></button></p>
         </form>
              </div>
         <div class="card">
    <img src="{% static 'clothimg/saree8.png'%}" alt="Anouk" style="width:100%">
      <h1>Hancock</h1>
       <p class="price">$19.99</p>
       <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
          <form action="/payment/">
         <p><button class="button" style="vertical-align:middle"><span>Buy Now</span></button></p>
         </form>
              </div>
         <div class="card">
    <img src="{% static 'clothimg/saree8.png'%}" alt="Anouk" style="width:100%">
      <h1>peter England</h1>
       <p class="price">$19.99</p>
       <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
         <form action="/payment/">
         <p><button class="button" style="vertical-align:middle"><span>Buy Now</span></button></p>
         </form>
              </div>
          </div>
      </div>
    </div>
    
{% endblock content1 %}