/*@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
* {
	box-sizing: border-box;
}
*/
body {
	/* background: #f6f5f7;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif; */
	/*height: 100vh;*/
	/*margin: -20px 0 50px;*/
}



button {
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

input {
  width: 75%;
}

label{
	margin: 0;
	padding: 0;
	width: 100%;
	font-weight: bold;
}

label::after{
  content: "";
  clear: both;
  display: table;
}
.helptext{
	color:gray;
}
.helptext::after{
	content: "";
  	clear: both;
  	display: table;
}

.errorlist{
	color:red;
	font-weight: bold;
}

ul{
	list-style-type: None;
}


.container {
	background-color: #fff;
	border-radius: 20px;
	height: 600px;
	width: 500px;
  	box-shadow: 0 14px 28px rgba(252, 91, 91, 0.25),
			0 10px 10px rgba(0,0,0,0.22);
}

a {
	color: rgb(255, 251, 251);
	font-size: 14px;
	text-decoration: none;
	/* margin: 15px 0; */
	margin: 0px;
}


a:hover{
	text-decoration: underline;
	color:#fff;
	/* background-color:rgb(30, 133, 218); */
}

/* a:hover{
	color:aqua;

} */