{% extends 'home/base.html' %}
{% load static %}

{% block content1 %}
    {% for catagory in categories %}
        <div class="card" style="float: left;display: flex;">
              <img src="{% static catagory.image %}" alt="{{ catagory.name }}" style="width:100%">
              <h1>{{ catagory.name }}</h1>
              <p class="price">{{ catagory.price }}</p>
              <p>{{ catagory.description }}</p>
              <form action="{% url formaction p_type=type p_category=catagory.name %}">
                <p><button class="button" style="vertical-align:middle"><span>See More</span></button></p>
              </form>
        </div>
    {% endfor %}


    
{% endblock content1 %}
<!-- {% extends 'home/base.html' %}
{% load static %}

{% block content1 %}
    {% for catagory in categories %}
        <div class="card" style="float: left;display: flex;">
              <img src="{% static catagory.image %}" alt="{{ catagory.name }}" style="width:100%">
              <h1>{{ catagory.name }}</h1>
              <p class="price">{{ catagory.price }}</p>
              <p>{{ catagory.description }}</p>
              <form action="{{ catagory.formaction }}">
                <p><button class="button" style="vertical-align:middle"><span>See More</span></button></p>
              </form>
        </div>
    {% endfor %}
{% endblock content1 %} -->